<nav class="green darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">The Blendspace</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories" ><i class="fas fa-theater-masks"></i>Public Poems</a></li>
            <li><a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
            <li><a href="/file/upload"><i class="fas fa-file-upload"></i>File Upload</a></li>
            <li><a href="/video/upload"><i class="fas fa-upload"></i>Video Upload</a></li>
            <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
    </div>
</nav>