<div class="container" >
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger">
                <span class="fab fa-google-drive"></span> Upload File to Google
                Drive
            </h3>

            {{#if success}}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close"
                    >×</a
                    >
                    <strong>Success!</strong> Your Image File is Uploaded!.
                </div>
            {{/if}}
            <form style="margin-top: 50px;" action="/file/upload/drive" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input
                            type="file"
                            class="form-control"
                            name="file"
                            required
                            id=""
                    />
                </div>
                <div style="margin-top: 50px;" class="form-group">
                    <button class="btn btn-block btn-danger">
                        Upload File
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
   document.getElementById('btnAdd').style.visibility='hidden';
</script>