<div class="container">
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger">
                <span class="fab fa-youtube"></span> Upload Video to Youtube
            </h3>

            {{#if success}}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close"
                    >×</a
                    >
                    <strong>Success!</strong> Your Video is Uploaded to Youtube.
                </div>
            {{/if}}
            <form style="margin-top: 50px;" action="/video/upload/youtube" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-group" style="margin-top: 50px;">
                        <input type="text" name="title" placeholder="Title" required class="form-control">
                    </div>
                    <div class="form-group" style="margin-top: 50px;">
                        <textarea name="description" class="form-control textArea" cols="30" rows="10"
                                  placeholder="description"></textarea>
                    </div>
                    <div class="form-group" style="margin-top: 50px;">
                        <input
                                type="file"
                                class="form-control"
                                name="file"
                                required
                                id=""
                        />
                    </div>
                </div>
                <div style="margin-top: 50px;" class="form-group">
                    <button class="btn btn-block btn-danger">
                        Upload Video
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
   document.getElementById('btnAdd').style.visibility='hidden';
</script>